.chat_side


  .chat_side_user
    .chat_side_user_name
      %h1 current_user_name
      %i.fa.fa-cog
      %i.fa.fa-pencil-square-o


  .chat_side_groups

    .chat_side_groups_group
      .chat_side_groups_group_name
        %p group
      .chat_side_groups_group_message
        %p message

    .chat_side_groups_group
      .chat_side_groups_group_name
        %p group
      .chat_side_groups_group_message
        %p message

    .chat_side_groups_group
      .chat_side_groups_group_name
        %p group
      .chat_side_groups_group_message
        %p message



.chat_groups
  .chat_groups_left
    .chat_groups_left_group
      %p group-name
    .chat_groups_left_member
      %p member
  .chat_groups_edit-btn
    %p Edit


.chat_messages
  .chat_messages_body
    .chat_messages_body_top
      .chat_messages_body_top_name
        %p kataoka
      .chat_messages_body_top_date
        %p 2018/01/07 12:00
    .chat_messages_body_message
      %p こんにちは。お疲れ様です。

  .chat_messages_body
    .chat_messages_body_top
      .chat_messages_body_top_name
        %p suzuki
      .chat_messages_body_top_date
        %p 2018/01/07 12:05
    .chat_messages_body_message
      %p こんにちは。

  .chat_messages_body
    .chat_messages_body_top
      .chat_messages_body_top_name
        %p satou
      .chat_messages_body_top_date
        %p 2018/01/07 12:05
    .chat_messages_body_message
      %p こんにちは。お元気ですか？



.chat_footer
  .chat_footer_form
    .chat_footer_form_message
      .chat_footer_form_image
        %i.fa.fa-picture-o
    .chat_footer_form_send
      %p Send




    / %form
    /   %input{:type => "text", :placeh older => "type a message"}
    /     %i.fa.fa-picture-o






